<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Disclaimer</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="padding">
        <p>This mobile application (“Application”) provided by JWCCEL is provided “As Is” and without warranty of any kind whatsoever. JWCCEL expressly disclaims any warranty regarding the Application, including any implied warranty of merchantability, fitness for a particular purpose, or for failure of performance. JWCCEL does not warrant that the Application will be free from defects or errors. You agree that downloading and use of the Application is solely at your own risk and that JWCCEL is not responsible for any damages or losses whatsoever, without limitation, resulting from your downloading or use of, or your reliance upon, the Application.</p>
        <p>By downloading the Application you expressly agree to hold Julia Wang, Cissy Chen, and Eric Li harmless from any claims, actions, demands, liabilities, judgments, settlements, loss, harm, injury, or damages whatsoever, and without limitation, resulting from or arising out of the downloading or use of the Application.</p>
        <a class="button button-clear button-positive disclaimer-btn" ng-click="closeDisclaimer()">Close</a>
    </ion-content>
</ion-modal-view>