<ion-view title="WalkMe NYC">
    <ion-nav-buttons side="secondary">
        <a class="button button-icon icon ion-ios-information-outline" ui-sref="about"></a>
    </ion-nav-buttons>

    <ion-content id="map-container" class="has-header">
        <div class="list">
            <form id="map-form">
                <label id="start-input" class="item item-input" ng-keypress="submitOnEnter(event);">
                    <input type="text" name="startLocation" placeholder="Choose starting point..." autocomplete="off" ng-focus="disableTapStart()">
                </label>
                <label id="end-input" class="item item-input" ng-keypress="submitOnEnter(event);">
                    <input type="text" name="endLocation" placeholder="Choose destination..." autocomplete="off" ng-focus="disableTapEnd()">
                </label>
            </form>
            <div id="map-canvas">
                <ui-gmap-google-map center="mapOptions.center" zoom="mapOptions.zoom"></ui-gmap-google-map>
            </div>
        </div>
    </ion-content>

    <div id="geolocate-btn" class="float-button" ng-click="geolocate()">
        <span class="height-fix">
            <a class="content">
              <i class="icon ion-android-locate"> </i>
            </a>
        </span>
    </div>
    <div id="submit-btn" class="float-button" ng-click="submit()">
        <span class="height-fix">
            <a class="content">
              <i class="icon ion-forward"> </i>
            </a>
        </span>
    </div>
</ion-view>