<ion-view title="WalkMe">

    <ion-content id="map-container" class="has-header">
        <div class="list">
            <form id="map-form">
                <label id="start-input" class="item item-input" ng-keypress="submitOnEnter(event);">
                    <input type="text" name="startLocation" placeholder="Choose starting point..." autofocus autocomplete="off">
                </label>
                <label id="end-input" class="item item-input" ng-keypress="submitOnEnter(event);">
                    <input type="text" name="endLocation" placeholder="Choose destination..." autocomplete="off">
                </label>
            </form>
            <div id="map-canvas">
                <ui-gmap-google-map center="mapOptions.center" zoom="mapOptions.zoom"></ui-gmap-google-map>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar class="bar bar-footer">
        <div class="buttons">
            <button class="button button-positive" ng-click="geolocate()">
                <i class="icon ion-navigate"></i> Get My Location
            </button>
<!--
            <button class="button button-positive" ng-click="switchInputs()" id="switch-btn">
                <i class="icon ion-arrow-swap"></i> &nbsp; Reverse start & end
            </button>
-->
        </div>
    </ion-footer-bar>

</ion-view>