<ion-view title="Choose A Route">

    <ion-content id="view-container">
        <ul class="list" id="routes-container">
            <div ng-repeat="route in routeInfo.results.routes">
                <a ng-model="route" class="item" ng-click="setAppRoute($index)">
                    <span class="safety-index"><b>{{routeInfo.indices[$index]}}</b></span>
                    <span class="route-dur">{{route.legs[0].duration.text}}</span>
                    <span class="route-dist">({{route.legs[0].distance.text}})</span>
                    <p class="route-summ">via {{route.summary}}</p>
                </a>
            </div>
            <div class="card" id="minimap-canvas">
                <ui-gmap-google-map center="mapOptions.center" zoom="mapOptions.zoom"></ui-gmap-google-map>
            </div>
        </ul>
        <button id="go-btn" class="button button-full button-positive" ui-sref="route">Go!</button>
    </ion-content>

</ion-view>