<ion-view title="Choose A Route">

    <ion-content overflow-scroll="false" id="view-container">
        <ul class="list" id="routes-container">
            <div class="item item-divider">
                Preview
            </div>

            <div id="minimap-canvas">
                <ui-gmap-google-map center="mapOptions.center" zoom="mapOptions.zoom"></ui-gmap-google-map>
            </div>

            <div class="item item-divider">
                Options
            </div>
            <div ng-repeat="route in routeInfo.routes | orderBy:'-index'" ng-click="setAppRoute($index)" class="item item-button-right" ng-class="{'active-route' : isActiveRoute($index)}">
                <a ng-model="route">
                    <div>
                        <a class="safety-index-link" ui-sref="about">
                            <h1 class="safety-index" style="color:{{indexToColor(route.index)}}">
                            {{route.index}}
                        </h1>
                        </a>
                    </div>
                    <span>{{route.legs[0].duration.text}}</span>
                    <span>({{route.legs[0].distance.text}})</span>
                    <p>via {{route.summary}}</p>
                </a>
                <button class="go-btn button button-clear button-dark" ui-sref="route">
                    Go!
                </button>
            </div>
            <div class="uber">
                <button class="button" ng-click="getUber()" ng-class="{'hidden':!shouldShow()}">Request an Uber</button>
            </div>
        </ul>
    </ion-content>

</ion-view>