<ion-view title="Choose A Route">

    <ion-content overflow-scroll="true" id="options-view-container">
        <ul class="list" id="options-container">
            <div class="item item-divider">
                Preview
            </div>
            
            <div id="minimap-canvas">
                <ui-gmap-google-map center="mapOptions.center" zoom="mapOptions.zoom"></ui-gmap-google-map>
            </div>

            <div class="item item-divider">
                Options
            </div>
            
            <div ng-repeat="route in routeInfo.routes | orderBy:'-safetyIndex'" ng-click="setAppRoute($index)" class="item item-button-right" ng-class="{'active-route' : isActiveRoute($index)}">
                <a ng-model="route">
                    <div>
                        <a class="safety-index-link" ng-click="showSafetyInfo()">
                            <h1 class="safety-index" style="color:{{indexToColor(route.safetyIndex)}}">
                                {{indexToText(route.safetyIndex)}}
                                <i class="icon ion-ios-help-outline"></i>
                            </h1>
                        </a>
                    </div>
                    <span>{{route.legs[0].duration.text}}</span>
                    <span>({{route.legs[0].distance.text}})</span>
                    <p>via {{route.summary}}</p>
                </a>
                <button class="go-btn button button-clear" ui-sref="directions">
                    <span><i class="icon ion-forward"> </i></span>
                </button>
            </div>
            <div class="uber">
                <button ng-class="{'hidden':!shouldShow()}" class="button button-clear" ng-click="getUber()" >Request an Uber</button>
            </div>
        </ul>
    </ion-content>

</ion-view>