/* -----------------------------------*/
/*               Global               */
/* -----------------------------------*/

.popup-body {
    overflow: auto;
}

.hidden {
    display: none;
}

.float-button {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 25px;
    padding: 25px;
    position: fixed;
    right: 20px;
    box-shadow: 1px 1px 4px #555;
    cursor: pointer;
    font-size: 24px;
}

.float-button .content {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -12px;
}

/* -----------------------------------*/
/*             Home Page              */
/* -----------------------------------*/

input {
    width: 100%;
}

.item-input-wrapper {
    background-color: #fff;
}

#map-form button {
    z-index: 999;
}

.float-button#submit-btn {
    background-color: #444;
    color: #fff;
    bottom: 40px;
}

.float-button#submit-btn:active {
    background-color: #bbb;
}

.float-button#geolocate-btn {
    background-color: #fff;
    color: #444;
    bottom: 110px;
}

.float-button#geolocate-btn:active {
    background-color: #bbb;
    color: #fff;
}

/* -----------------------------------*/
/*            Options Page            */
/* -----------------------------------*/

.safety-index {
    font-size: 19pt;
    margin: 0;
    padding: 0;
}

.safety-index>i {
    color: #444;
}

.safety-index-link {
    display: inline-block;
    text-decoration: none;
}

.active-route {
    -webkit-box-shadow: inset 0px 0px 0px 1px #444;
    -moz-box-shadow: inset 0px 0px 0px 1px #444;
    box-shadow: inset 0px 0px 0px 1px #444;
}

.active-route .go-btn {
    display: block !important;
}

.go-btn {
    display: none !important;
    top: 0;
    bottom: 0;
    margin: auto;
}

.go-btn>span {
    padding: 10px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
}

.uber {
    text-align: center;
}

.badge {
    color: #fff;
}

/* -----------------------------------*/
/*          Directions Page           */
/* -----------------------------------*/

.float-button#geolocate-directions-btn {
    background-color: #fff;
    color: #444;
    font-size: 24px;
    right: 50px;
    bottom: 50px;
}

.float-button#geolocate-directions-btn:active {
    background-color: #bbb;
    color: #fff;
}

.warnbox-content,
.warnbox-c1,
.warnbox-c2,
.adp {
    background-color: #fff;
    padding: 10px 20px;
}

.warnbox-content {
    font-style: italic;
}

.warnbox-c1,
.warnbox-c2 {
    display: none;
}

.adp-directions {
    margin: 0 20px;
}

.adp-summary {
    display: none;
}

.adp-placemark {
    background: none;
    border: none;
}

.adp-legal {
    display: none;
}

.adp-placemark .adp-text {
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
}

.adp-step, .adp-substep {
    border: none;
}

/* -----------------------------------*/
/*             About Page             */
/* -----------------------------------*/

.disclaimer-btn {
    position: absolute;
    width: 100px;
    right: 0;
    left: 0;
    margin: auto;
}

#index-graphic {
    max-width: 80%;
    margin: auto;
}