.popup-body {
    overflow: auto;
}

.safety-index {
    font-size: 19pt;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.safety-index-link {
    text-decoration: none;
}

.active-route {
    -webkit-box-shadow: inset 0px 0px 0px 1px #444;
    -moz-box-shadow: inset 0px 0px 0px 1px #444;
    box-shadow: inset 0px 0px 0px 1px #444;
}

.go-btn {
    display: none !important;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0 25px;
}

.active-route .go-btn {
    display: block !important;
}

.disclaimer-btn {
    position: absolute;
    width: 100px;
    right: 0;
    left: 0;
    margin: auto;
}

#index-graphic {
    max-width: 80%;
    margin: auto;
}

.float-button {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 25px;
    padding: 25px;
    position: fixed;
    right: 20px;
    z-index: 9999;
    box-shadow: 1px 1px 4px #555;
    cursor: pointer;
    font-size: 24px;
}

.float-button .content {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -12px;
}

.float-button#submit-btn {
    background-color: #444;
    color: white;
    bottom: 40px;
}

.float-button#submit-btn:hover,
.float-button#submit-btn:active {
    background-color: #bbb;
}

.float-button#geolocate-btn:hover,
.float-button#geolocate-btn:active {
    background-color: #bbb;
    color: white;
}

.float-button#geolocate-btn {
    background-color: white;
    color: #444;
    font-size: 24px;
    bottom: 110px;
}